h1 {
    text-align: center;
    margin: 0px;

}
h6 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
img {
    width: 100px;
    height: 100px;
}
body {
    background-color: lightpink;
}
